:root {
    --fontColor: rgba(18, 23, 48, 0.7);
    --fontFamily: 'Montserrat', sans-serif;
    --flexColumn: column;
    --flexRow: row;
    --flex: flex;
    --justifyContent: center;
    --alignItems: center;
    --fontWeight: bold;
}

html {
    height: 100%;
    box-sizing: border-box;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    font-family: var(--fontFamily);
    color: var(--fontColor);
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.dashboard-row {
    min-height: 100%;
    margin: 3em 0 1em;
}

.row {
    min-height: 100%;
    margin: 4em 18.5em 2em;
    /*margin: 3em 0 1em;*/
    flex-direction: var(--flexRow);
    flex-wrap: wrap;
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-gap: 0.5em;*/
    /*justify-content: center;*/
    /*align-content: center;*/
}

.single-card > a {
    text-decoration: none;
    text-align: center;
}

.dashboard-card {
    width: 15em;
    height: 15em;
    transition: 0.5s;
    cursor: pointer;
    margin: 0.5em 0.5em;
    padding: 0 15px;
    box-shadow: 10px 10px 15px rgba(173, 173, 173, 0.3);
}

.card-set {
    justify-content: space-evenly;
    width: 15em;
    height: 18em;
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
    margin: 0.5em 0.5em;
    padding: 0 15px;
    background-color: rgba(63, 69, 77, 0.1);
}

.card-set > h4, .card-set > h5 {
    margin: 0.1em 0;
}

.card-set-title {
    text-shadow: 0.1em 0 0.1em rgba(18, 23, 48, 0.1);
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: var(--fontColor);
}

.dashboard-card-title {
    font-size: 18px;
    font-weight: var(--fontWeight);
    text-decoration: none;
    font-style: normal;
    color: rgb(56, 67, 82);
}

.dashboard-card-image {
    height: 9em;
    width: 9em;
}

.card-set-image {
    height: 5em;
    width: 5em;
}

[class^="card-set-text"] {
    text-align: center;
    color: var(--fontColor);
}

.card-set-text-2 {
    color: #ffffff;
    text-shadow: 0 0 0.3em #373737;
}

.dashboard-card:hover, .card-set:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.dashboard-card::before, .dashboard-card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.dashboard-card::before {
    transform-origin: left top;
}

.dashboard-card::after {
    transform-origin: right bottom;
}

.dashboard-card:hover::before, .dashboard-card:hover::after, .dashboard-card:focus::before, .dashboard-card:focus::after {
    transform: scale3d(1, 1, 1);
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 85%;
}

body, .row, .dashboard-row, .dashboard-card, .card-set {
    display: var(--flex);
}

body, .dashboard-card, .card-set {
    flex-direction: var(--flexColumn);
    align-items: var(--alignItems);
}

.row, .dashboard-row {
    justify-content: var(--justifyContent);
}

.dashboard-card::before, .dashboard-card::after, .card-set::before, .card-set::after, .card-set, .dashboard-card {
    border-radius: var(--borderRadius);
}

/*@media screen and (device-width: 360px) {*/
/*    .row {*/
/*        grid-template-columns: repeat(1, 1fr);*/
/*    }*/
/*}*/