:root {
    --fontColor: rgba(18, 23, 48, 0.9);
    --fontFamily: 'Montserrat', sans-serif;
    --fontWeight: bold;
    --flex: flex;
    --justifyContent: center;
    --alignItems: center;
}

html {
    height: 100%;
    box-sizing: border-box;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    color: var(--fontColor);
    font-family: var(--fontFamily);
    font-size: 16px;
}

body {
    margin: 0;
    align-content: center;
    flex-direction: column;
    min-height: 100%;
}

.container {
    background-color: rgba(154, 153, 153, 0.3);
    border-radius: 1em;
    box-shadow: 0 1.5em 1.5em 0.5em rgba(0, 0, 0, 0.3);
    width: 40em;
    height: 25em;
}

#logo-img {
    width: 20em;
    height: 20em;
    margin-top: 4em;
}

#inner-container {
    flex-direction: column;
    margin: 3em 5em 3em 1em;
}

p {
    margin: 0 0 1em;
    font-size: 2.5em;
    font-weight: var(--fontWeight);
}

#login-form {
    flex-direction: column;
    font-weight: var(--fontWeight);
    /*margin: 1em 0 1em;*/
}

input {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1.5em 1.5em rgba(0, 0, 0, 0.3);
    padding: 0.2em 0.6em;
    margin: 0.3em 0;
    border-radius: 0.4em;
    outline: none;
    border: none;
    width: 12em;
    height: 1.5em;
}

input::placeholder {
    color: rgba(154, 153, 153, 0.7);
}

#login-button {
    background-color: rgba(245, 245, 245, 0.4);
    box-shadow: 0 1.5em 1.5em rgba(0, 0, 0, 0.3);
    padding: 0.7em 1.5em 0.6em;
    margin-top: 1.2em;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: var(--fontWeight);
    cursor: pointer;
    border: none;
    outline: none;
}

#login-button:hover {
    background-color: rgba(245, 245, 245, 0.6);
}

input, #login-form {
    color: var(--fontColor);
}

body, .container, #login-form {
    display: var(--flex);
}

body, .container, #login-form {
    align-items: var(--alignItems);
}

body, .container, #login-form {
    justify-content: var(--justifyContent);
}