:root {
    --fontColor: rgba(18, 23, 48, 0.8);
    --fontFamily: 'Montserrat', sans-serif;
    --flexColumn: column;
    --flexRow: row;
    --flex: flex;
    --justifyContent: center;
    --alignItems: center;
    --fontWeight: bold;
}

* {
    font-family: var(--fontFamily);
}

#header > img {
    margin-top: 2em;
    margin-bottom: 0;
    width: 12em;
    height: 12em;
}

.headerPlusMenu {
    width: 65vw;
    height: 20vh;
    border-bottom: solid;
    border-width: 0.3em;
    border-color: rgb(37, 44, 68);
}

.button {
    box-shadow: 0 1.5em 1.5em rgba(0, 0, 0, 0.3);
    background-color: rgba(245, 245, 245, 0.4);
    justify-content: right;
    padding: 1em 3em;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: var(--fontWeight);
    cursor: pointer;
    border: none;
    outline: none;
}

.button:hover {
    background-color: rgba(245, 245, 245, 0.7);
}

footer {
    text-align: center;
    justify-content: var(--justifyContent);
}

.headerPlusMenu, .button {
    flex-direction: var(--flexRow);
    justify-content: space-between;
    align-items: var(--alignItems);
}

.headerPlusMenu, footer {
    display: var(--flex);
}

/*.headerPlusMenu, .button {*/
/*    flex-direction: var(--flexRow);*/
/*}*/