:root {
    --fontColor: rgba(18, 23, 48, 0.8);
    --fontFamily: 'Montserrat', sans-serif;
    --flexColumn: column;
    --flexRow: row;
    --flex: flex;
    --justifyContent: center;
    --alignItems: center;
    --fontWeight: bold;
    --borderRadius: 0.5em;
}

* {
    font-family: var(--fontFamily);
    outline: none;
}

#header > img {
    width: 12em;
    height: 12em;
    margin-top: 2em;
    margin-bottom: 0;
}

.header-plus-menu {
    width: 65vw;
    height: 20vh;
    border-bottom: solid;
    border-width: 0.3em;
    border-color: rgb(37, 44, 68);
}

.button-menu {
    box-shadow: 0 1.5em 1.5em rgba(0, 0, 0, 0.3);
    background-color: rgba(245, 245, 245, 0.4);
    justify-content: right;
    padding: 1em 2em;
    border: none;
    text-transform: uppercase;
    font-weight: var(--fontWeight);
    cursor: pointer;
}

.button-menu:hover, #dashboard-button:hover {
    background-color: rgba(245, 245, 245, 0.7);
}

#dashboard-button {
    background-color: rgba(245, 245, 245, 0.4);
    margin-right: 1.5em;
}

#logout-button {
    margin-left: 0.5em;
}

footer {
    text-align: center;
    justify-content: var(--justifyContent);
}

.header-plus-menu, .button-menu {
    flex-direction: var(--flexRow);
    align-items: var(--alignItems);
    justify-content: space-between;
}

.header-plus-menu, footer {
    display: var(--flex);
}

.button-menu {
    border-radius: var(--borderRadius);
}