.mainContent {
    margin-top: 5em;
}

.userData {
    width: 25em;
    box-shadow: 0.4em 0.4em 1em 0.01em rgba(0,0,0,0.30);
    border-radius: 0.5em;
    padding: 1.5em;
}

#profileImage {
    margin-right: 5em;
    width: 15em;
    height: 15em;
    border: none;
    border-radius: 0.5em;
}

.fieldPlusDescription {
    justify-content: space-between;
    border: none;
}

.field, .fieldDescription {
    font-weight: var(--fontWeight);
}

footer, .fieldPlusDescription, .userData, .mainContent, body {
    display: var(--flex);
}

.mainContent, footer {
    justify-content: var(--justifyContent);
}

body, .userData {
    flex-direction: var(--flexColumn);
}

body, .mainContent {
    align-items: var(--alignItems);
}

.mainContent, .fieldPlusDescription {
    flex-direction: var(--flexRow);
}